---
import Section from 'src/components/Resume/Section.astro';
import type { ExperienceType } from 'src/content/resume.yml';

type Props = {
  experiences: ExperienceType[];
};

const { experiences } = Astro.props;
---

<Section title="Experience">
  <div class="flex flex-col break-inside-avoid gap-[7mm]">
    {
      experiences.map((job) => (
        <div class="experience">
          <div class="companyInfo">
            {/*
            job.logo && false
            // <div class="companyLogo">
            //   <img src={`/assets/logos/${job.logo}`} />
            // </div>
            */}

            <div class="companyRole">
              <div>
                <span class="font-bold">{job.company}</span>
                <span class="font-light text-gray">
                  {' — '} {job.location}
                </span>
              </div>

              {job.positions?.map((role) => (
                <div class="font-bold">{role.position}</div>
              ))}
            </div>

            <div class="timeline">
              <div class="duration">{job.duration}</div>
              {job.positions?.map((role) => (
                <div class="font-light">{role.date}</div>
              ))}
            </div>
          </div>

          <div class="flex font-serif flex-col gap-[2mm]">
            {job.summary && <p class="m-0 text-base">{job.summary}</p>}
            {job.tags && (
              <p class="m-0">
                <span class="font-bold font-sans">Tech Stack:&nbsp;</span>
                {job.tags}
              </p>
            )}
          </div>
        </div>
      ))
    }
  </div>
</Section>

<style lang="scss">
  .companyInfo {
    width: 100%;
    font-family: Lato, sans-serif;
    border-spacing: 0;
    margin-bottom: 3mm;
    display: flex;
    gap: 3mm;

    .companyLogo {
      width: 8.6mm;
    }
    justify-content: space-between;

    .timeline {
      flex: 1;
      text-align: right;
      padding: 0;
      color: #666666;
      font-weight: 400;
    }
  }

  // -----------------------------------
  // PRINT
  // -----------------------------------
  @media print {
    .companyInfo {
      page-break-inside: avoid;
    }
  }
</style>
