---
import type { ResumeType } from 'src/content/resume.yml';
import ExperienceSection from 'src/components/Resume/Experiences.astro';
import Section from 'src/components/Resume/Section.astro';

type Props = {
  resume: ResumeType;
};

const { resume } = Astro.props;
---

<div class="a4 sheet p-[10mm] leading-normal">
  <article class="flex h-full flex-col font-serif text-black">
    <header class="mb-[5mm] flex grow-0 items-center gap-[7mm]">
      <div>
        <img src="/assets/images/vitor-round-300px.png" width="120" />
      </div>

      <div class="font-display">
        <h1 class="m-0 p-0 text-3xl">{resume.title}</h1>
        <h2 class="m-0 p-0 text-xl">{resume.subtitle}</h2>
      </div>

      <div class="flex-1">
        <ul class="m-0 list-none text-right text-xs leading-normal">
          {
            resume.links.map((link) => (
              <li>
                {!link.href && link.name}
                {link.href && (
                  <a
                    class="relative inline-block text-link no-underline hover:top-[1px] hover:underline"
                    href={link.href}
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {link.name}
                  </a>
                )}
              </li>
            ))
          }
        </ul>
      </div>
    </header>

    <main class="flex flex-1 gap-[7mm]">
      <aside class="flex basis-[55.5mm] flex-col gap-[7mm]">
        <Section title="Hello">
          <div class="flex flex-col gap-[16px]">
            {resume.summary.map((item) => <p class="m-0 p-0">{item}</p>)}
          </div>
        </Section>

        <Section title="Education">
          {
            resume.education.map((place) => (
              <Fragment key={`${place.institution}.${place.studyType}`}>
                <h4 class="m-0 mb-[1mm] font-sans text-base font-bold">{`${place.studyType}, ${place.area}`}</h4>
                <p class="mb-[1mm]">{place.institution}</p>
                <em class="font-sans not-italic text-gray">{place.years}</em>
              </Fragment>
            ))
          }
        </Section>

        <Section title="Languages">
          <ul class="m-0 list-none p-0 font-sans">
            {
              resume.languages.map((item) => (
                <li class="mb-[0.5mm]">
                  <span class="font-bold">{item.language}</span>
                  <span class="text-gray">{` (${item.fluency})`}</span>
                </li>
              ))
            }
          </ul>
        </Section>
      </aside>

      <div class="flex-1">
        <ExperienceSection experiences={resume.work} />
      </div>
    </main>
  </article>
</div>

<style is:global lang="scss">
  /* Unscoped, delivered as-is to the browser.
     Applies to all <h1> tags on your site. */
  .sheet {
    margin: 0 auto;
    font-size: 10pt;
    font-weight: 400;
    // line-height: 1.4em;

    &.a4 {
      width: 210mm;
      min-height: 296mm;
    }
  }
</style>

<style lang="scss">
  .sheet {
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    margin: 0 auto;
    font-size: 10pt;
    font-weight: 400 !important;

    &.a4 {
      width: 210mm;
      min-height: 296mm;
    }
  }

  // -----------------------------------
  // PRINT
  // -----------------------------------
  @media print {
    @page {
      size: A4;
      margin: 12mm 0;
    }

    .sheet {
      padding: 0 12mm;
    }
  }

  // -----------------------------------
  // SCREEN
  // -----------------------------------
  @media screen {
    body.root {
      background: #e0e0e0;
    }

    .sheet {
      background: #ffffff;
      box-shadow: 0 0.5mm 2.5mm rgba(0, 0, 0, 0.5);
      padding: 15mm;
      margin: 8mm auto;
    }
  }
</style>
